.App {
	margin-top: -10px;
	text-align: center;
	/* background: #091921; */
}

.bg-img {
	position: fixed;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	z-index: -1;
	filter: blur(3px);
	min-height: 100vh;
	background-image: url(img/paris.gif);
	background-repeat: no-repeat;
	background-size: cover;
}

.Output input {
	height: 220px;
	justify-content: flex-end;
	background-color: rgb(255, 255, 255);
	width: 100%;
	font-size: 50px;
}

.calc-body {
	max-width: 400px;
	margin: auto;
}

.Buttons {
	display: block;
	background-color: white;
}

.Buttons button {
	width: 25%;
	height: 60px;
	font-size: 25px;
	background-color: white;
}

.smartphone {
	position: relative;
	width: 360px;
	height: 640px;
	margin: auto;
	border: 16px rgb(0, 0, 0) solid;
	border-top-width: 60px;
	border-bottom-width: 60px;
	border-radius: 36px;
}

/* buat horizontal line di atas gambar device */
.smartphone:before {
	content: '';
	display: block;
	width: 60px;
	height: 5px;
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #333;
	border-radius: 10px;
}

/* buat gambar lingkaran setelah gambar device */
.smartphone:after {
	content: '';
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	left: 50%;
	bottom: -65px;
	transform: translate(-50%, -50%);
	background: #333;
	border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
	width: 360px;
	height: 640px;
	background: white;
}

.btn-back {
	position: absolute;
	margin-top: -45px;
	margin-left: 40px;
	width: 110px;
	height: 35px;
	background-color: black;
	border: none;
}

.Home {
	background-image: url(img/paris.gif);
	width: 327px;
	height: 520px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	position: absolute;
}
.menus {
	margin-top: 200px;
}
.Home img {
	margin-top: 20px;
	width: 25%;
	margin-left: 10px;
	margin-right: 10px;
}

.btn-calc {
	height: 70px;
	border: none;
}

.Note {
	background-color: white;
	width: 327px;
	height: 520px;
	overflow: auto;
}

.Login{
	position: fixed;
	top: 300px;
	left: 550px;
	right: 450px;
	

}
.Login h1{
	background-image: url(img/tr.png);
}

.Login form input, form button{
	/* display: flex;
	flex-direction: column;
	margin-top: 30px; */
  width: 212px;
  border: 1px solid;
  border-bottom-color: rgba(255,255,255,.5);
  border-right-color: rgba(60,60,60,.35);
  border-top-color: rgba(60,60,60,.35);
  border-left-color: rgba(80,80,80,.45);
  background-color: rgba(0,0,0,.2);
  background-repeat: no-repeat;
  padding: 8px 24px 8px 10px;
  font: bold .875em/1.25em "Open Sans Condensed", sans-serif;
  letter-spacing: .075em;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  margin-bottom: 19px;
  background-image: url(img/tr.png);
}
.Login .card{
	background: rgba(130,130,130,.9)
}

.formLogin{
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	left: 900px;
	bottom: 200px;
	width: 300px;
	height: 300px;
	padding: 8px 24px 8px 10px;
    letter-spacing: .075em;
    color: #fff;
    margin-bottom: 19px;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
}

.formLogin input,button{
	margin-top: 20px;
	margin-bottom: 20px;
}

.under{
	background-color: rgb(246, 95, 95);
	height: 5px;
	width: 20.5%;
	position: fixed;
}